body {

    background-image: url("background-gcb5bd960f_1280.jpg");
    background-size: cover;
}

header {
    background-image: url("fundo_verde .jpg");
    background-size: cover;
    padding-top: 10px;
    text-align: center;
    color: #093105;
    font-size: 19px;
    height: 95px;
    width: 50%;
    margin-left: 26%;
    text-shadow: 3px 8px 7px rgb(53, 58, 53);
}

.campo {
    text-align: center;
    padding-bottom: 0%;
    width: 70%;
    font-size: large;
}

nav {
    display: flex;
    flex-direction: column;
    background: rgba(157, 221, 60, 0.781);
    box-shadow: 5px 5px 12px rgb(9, 10, 2);
    padding-top: 50px;
    text-align: center;
    color: #0f0f0ffb;
    height: 300px;
    width: 50%;
    margin-left: 26%;
    font-size: 25px;
}

.pe {

    font-size: 16px;
    font-style: oblique;
    margin-left: 75%;
    margin-top: 4.5%;

}

#botao {
    color: #093105;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 10px 2px 15px rgb(13, 233, 178);
}
#botao:hover {
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(38, 151, 123);
}
@media screen and (max-width:600px) {

    body {
       
        background-size: cover;
        background-repeat: no-repeat;
        width: 400px;
        height: 425px;

    }

    .botao {
        background-image: -webkit-linear-gradient(rgba(82, 214, 82, 0.822), rgba(144, 235, 151, 0.705), rgba(0, 128, 0, 0.562));
        box-shadow: 2px 4px 15px rgb(255, 255, 255);
        padding: 1%;
        color: rgba(27, 68, 11, 0.774);
        border-radius: 10px;
        text-decoration: none;
        font-size: 12px;
        margin-top: 30%;
        margin-left: 84%;
        font-weight: bolder;
        text-shadow: 2px 2px 5px rgb(225, 235, 232);
        border: none;
        position: fixed;
    }

    .telapai {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background: rgba(21, 194, 15, 0.404);
        padding: 10%;
        width: 390px;
        height: 130px;
        margin-left: 18%;
        margin-top: 28%;
        box-shadow: 5px 5px 12px rgb(9, 10, 2);
    }

    #lista {
        font-size: 25px;
        padding: 0%;
        color: rgb(24, 23, 23);
    }

    #importante {
        font-size: larger;
        font-weight: bolder;
        font-style: italic;
    }

    img {
        width: 30px;
        margin: 24px 0 0 303px;
        position: absolute;
    }

    button {

        font-style: oblique;
        box-shadow: 2px 2px 15px rgb(143, 226, 110);
        font-size: 99%;
        margin-left: -38%;
        margin-top: 7%;
        background-image: linear-gradient(rgba(46, 192, 46, 0.678), white);
    }

    .informativo {
        position: fixed;
        font-size: larger;
        margin-top: 30%;
        margin-left: -18%;
        background: white;
        width: 40%;
    }


}
        font-size: 24px;
        font-weight: bolder;
        
    }
}
