body {

    background-image: url("background-gcb5bd960f_1280.jpg");
    background-size: cover;
}

header {
    background-image: url("fundo_verde .jpg");
    background-size: cover;
    padding-top: 10px;
    text-align: center;
    color: #093105;
    font-size: 19px;
    height: 95px;
    width: 50%;
    margin-left: 26%;
    text-shadow: 3px 8px 7px rgb(53, 58, 53);
}

.campo {
    text-align: center;
    padding-bottom: 0%;
    width: 70%;
    font-size: large;
}

nav {
    display: flex;
    flex-direction: column;
    background: rgba(157, 221, 60, 0.781);
    box-shadow: 5px 5px 12px rgb(9, 10, 2);
    padding-top: 50px;
    text-align: center;
    color: #0f0f0ffb;
    height: 300px;
    width: 50%;
    margin-left: 26%;
    font-size: 25px;
}

.pe {

    font-size: 16px;
    font-style: oblique;
    margin-left: 75%;
    margin-top: 4.5%;

}

#botao {
    color: #093105;
    text-decoration: none;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 10px 2px 15px rgb(13, 233, 178);
}
#botao:hover {
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(38, 151, 123);
}
@media screen and (max-width:768px) {

    body {
        background-size: cover;
        background-repeat: repeat background-position: top;
        width: 100%;
        margin-bottom: 10%;

    }

    header {
        padding-top: 5px;
        text-align: center;
        margin-top: 60%;
        font-size: 14px;
        height: 95px;
        width: 80%;
        margin-left: 5%;

    }

    .campo {
        text-align: center;
        padding-bottom: 0%;
        width: 93%;
        font-size: large;
    }

    nav {
        display: flex;
        flex-direction: column;
        background: rgba(157, 221, 60, 0.781);
        box-shadow: 5px 5px 12px rgb(9, 10, 2);
        padding-top: 50px;
        text-align: center;
        color: #0f0f0ffb;
        height: 246px;
        width: 80.6%;
        margin-left: 5%;
        font-size: 20px;
    }

    .pe {

        font-size: 15px;
        font-style: oblique;
        margin-left: 8%;
        margin-top: 4%;

    }

    #botao {
        text-decoration: none;
        font-size: 24px;
        font-weight: bolder;
        text-shadow: 2px 2px 5px rgb(45, 122, 103);
    }


